@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
  }

  /* Scrollbar styling */
  ::-webkit-scrollbar {
    @apply w-2;
  }
  ::-webkit-scrollbar-track {
    @apply bg-surface-0;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-surface-3 rounded-full;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gray-500;
  }
}
